{% schema %}
  {
    "name": "Full Story Lightbox",
    "settings": []
  }
{% endschema %}
<link rel="stylesheet" class="external-css-link" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js" defer></script>


<div id="fc-full-story" class="fc-hide">
  <section>
    <h3 class="heading">Yes, Quit “Dealing” With Back Pain. Reclaim Your Health and Movement.</h3>
    <p>Whether you&rsquo;re working, playing with the grandkids, jogging, golfing, or simply taking care of the yard and house, you&rsquo;re putting strain on your back. And like many others, you have a nagging fear of making it worse.</p>
    <p>Lower back pain quickly puts a wrench in your favorite activities and leaves you reaching for prescription medications, TENS machines, back rollers, and more.</p>
    <p>But they never work, at least not as much as you hope. <em>Why is that?</em></p>
    <p>The reality is that these &ldquo;solutions&rdquo; aren&rsquo;t actually solutions&mdash;they only temporarily mask the pain. They just are NOT designed to address the root cause of your lower back pain, which is why that pain always returns.</p>
    <p><strong>You might be good at ignoring some of the pain, but there&rsquo;s only so much room to desensitize yourself to lasting pain.</strong></p>
    <p>In other (more crass) words, previously touted solutions are more like putting lipstick on a pig. You dress it up, but deep down you know how that goes&hellip;</p>
    <p>Our team has been working towards root cause treatment of lower back pain for years now. In 2017, we began exploring a newer technology, <em>neuromuscular electrical stimulation (NMES)</em>.</p>
    <p>It sounded too-good-to-be-true. At least initially, but we dug in over the next 2 years to complete extensive due diligence, testing, and clinical product development to maximize the effectiveness of NMES for lower back pain relief.</p>
    <p>Our research taught us that 97% of back pain is caused by musculoskeletal issues, and we saw the clinical data for NMES. We were immediately blown away by just how effective NMES is at:&nbsp;</p>
    <ol style="margin-left: 20px;">
      <li>Healing (emphasis on healing!) your damaged tissues.</li>
      <li>Reducing your inflammation.</li>
      <li>Strengthening your spinal stabilizing muscles.</li>
    </ol>
    <br />
    <p><strong>All of which diminishes the pain you feel in your back.</strong></p>
    <br />
    <p style="text-align: center; font-style: italic;">If you, like us, love the science behind what we do, then check out the clinical studies on the National Institutes of Health (NIH) website by clicking <button class="fc-link" data-show="#fc-fullstory-slider" onclick="setTimeout(()=>new Flickity('#fc-lb-slider', { adaptiveHeight: true }), 500);">here</button>.</p>
  </section>
  <section style="--bg: #e3e3e3" class="fc-hide" id="fc-fullstory-slider">
		<div id="fc-lb-slider">
			<div class="carousel-cell">
              <h2 class="title">Study 1.</h2>
              <h3 class="content-1">Neuromuscular electrical stimulation training results in enhanced activation of spinal stabilizing muscles during spinal loading and improvements in pain ratings.</h3>
              <h4 class="content-2">"Analysis of results revealed clinically and statistically significant improvements in indicators of both muscle groups' performance, as evidenced by ultrasound evaluation of activation during voluntary activity. These improvements were associated with significant improvements in self reported pain levels, suggesting that NMES has an important role to play in Chronic Lower Back Pain rehabilitation."</h4>
              <p class="content-3">Coghlan, S., Crowe, L., McCarthypersson, U., Minogue, C., &amp; Caulfield, B. Retrieved from <a href="https://pubmed.ncbi.nlm.nih.gov/22256103/" tabindex="0">https://pubmed.ncbi.nlm.nih.gov/22256103/</a></p>			</div>
			<div class="carousel-cell">
              <h2 class="title">Study 2.</h2>
              <h3 class="content-1">The effects of neuromuscular electrical stimulation on the activation of deep lumbar stabilizing muscles of patients with lumbar degenerative kyphosis.</h3>
              <h4 class="content-2">"In conclusion, lumbar stabilizing muscles of patients with Lumbar Degenerative Kyphosis were significantly activated by NMES. Protocol A+B maximally stimulated all the studied deep spinal stabilizing muscles (LM, TrA and OI) as evidenced by RUSI. The protocol A+B may aid the development of practical NMES systems for LDK patients who suffer from postural deformity and Lower Back Pain”</h4>
              <p class="content-3">Kim, S. Y., Kim, J. H., Jung, G. S., Baek, S. O., Jones, R., &amp; Ahn, S. H. (2016, February. Retrieved from <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4792980/" tabindex="-1">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4792980/</a></p>
			</div>
			<div class="carousel-cell">
				<h2 class="title">Study 3.</h2>
                <h3 class="content-1">Clinical effects of electrical stimulation therapy on lumbar disc herniation-induced sciatica and its influence on peripheral ROS level.</h3>
                <h4 class="content-2">"In conclusion, in the treatment of lumbar disc herniation-induced sciatica, electrical stimulation therapy can effectively reduce the pain degree, relieve the clinical symptoms and signs, improve the peripheral ROS level and prevent the oxidative damage of myocardial tissues and other complications, so it is worthy of clinical application and promotion."</h4>
				<p class="content-3">Wang, L., Fan, W., Yu, C., Lang, M., &amp; Sun, G. (2018, September). Retrieved from <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6146184" tabindex="-1">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6146184</a></p>
			</div>
			<div class="carousel-cell">
              <h2 class="title">Study 4.</h2>
              <h3 class="content-1">Trunk Muscle Training Augmented with Neuromuscular Electrical Stimulation Appears to Improve Function in Older Adults with Chronic Low Back Pain: A Randomized Preliminary Trial</h3>
              <h4 class="content-2">"In conclusion, this preliminary investigation has demonstrated that TMT+NMES is a safe and acceptable intervention that may have the potential to improve physical function in older adults with chronic LBP. It is particularly interesting to note that TMT+NMES appears to have the potential to result in longer term functional improvements than our passive control approach which was grounded in the use of passive treatments."</h4>
              <p class="content-3">Hicks, G. E., Sions, J. M., Velasco, T. O., &amp; Manal, T. J. (2016, October). Retrieved from <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4935645/%0A" tabindex="-1">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4935645/</a></p>
			</div>
			<div class="carousel-cell">
              <h2 class="title">Study 5.</h2>
              <h3 class="content-1">Electrical muscle stimulation as an adjunct to exercise therapy in the treatment of nonacute low back pain: a randomized trial.</h3>
              <h4 class="content-2">"At the 2-month follow-up interval, subjects in the treatment group had statistically significantly improved lumbar spine function compared with the control subjects. This effect continued during the last 4 months of the study after electrical stimulation had been discontinued. This suggests that electrical muscle stimulation can be an effective adjunctive treatment modality for nonacute low back pain. The effects of this combined therapy seem to last beyond the duration of electrical stimulation treatment."</h4>
              <p class="content-3">Glaser, J. A., Baltz, M. A., Nietert, P. J., &amp; Bensen, C. V. (2001, October). Retrieved from <a href="https://www.ncbi.nlm.nih.gov/pubmed/14622808" tabindex="-1">https://www.ncbi.nlm.nih.gov/pubmed/14622808</a></p>
			</div>
		</div>
  </section>
  <section style="padding-top: 0;">
		<p>Before NeuroMD, no one was using these clinically studied NMES parameters in at-home devices. That&rsquo;s when we knew we could change how people around the world&mdash;people like you&mdash;viewed and experienced back pain therapy and healing.</p>
    <p>If you continue reading below, we&rsquo;ll explain how our device works and what it can do for you and your peace of mind.</p>
    <br />
  </section>
	<section style="--bg: #BBD4E9">
		<h3>True Healing = Long Term Pain Relief</h3>
		<p>As we mentioned, other &ldquo;solutions&rdquo; simply mask your lower back pain temporarily&mdash;and you&rsquo;re still left with the fear of making your pain worse.</p>
    <p>NeuroMD&rsquo;s Corrective Therapy Device&reg; is fundamentally different as it harnesses the clinically studied power of neuromuscular electrical stimulation to actually repair damaged tissues.</p>
    <p>Put simply, medically-tested, succinct electrical charges stimulate your muscles to provide exactly what you&rsquo;ve been searching for: <strong>long-term pain relief</strong>.</p>
    <p>Additionally, with improved lower back health, you will experience <button class="fc-btn fc-btn--inline" data-replace-with="lasting relief from back pain, leg pain/sciatica, hip pain/SI joint pain, and muscle spasms">Reveal</button>.</p>
    <p>To see how it works, watch this quick video from Mark Rosenberg, M.D.:</p>
		<div class="fc-video-wrap">
			<iframe src="https://www.youtube.com/embed/9NVVi1gyFIc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<p>You no longer need to let back pain control your schedule where you wake up every day and allow your chronic pain to dictate what you do. We want you to <strong>start living without the fear of surgery, cumbersome stretching routines, or painkillers</strong>&hellip;</p>
<p>That golf trip you have planned? Enjoy those full swings and take strokes off your game.</p>
<p>An avid gym-goer? Grab your gym bag and enjoy a fuller range of movement.</p>
<p>Ready to build that new deck or enjoy time in the garden? Grab your toolbelt or gardening gloves.</p>
<p>With NeuroMD, you&rsquo;ll have far fewer canceled plans and enjoy more lasting memories! But engineering a device that could make all this possible wasn&rsquo;t an easy task&mdash;not only did we need to design a device that allows anyone to use the clinically studied NMES parameters we mentioned earlier, but we had to make the device effortless for you to use anywhere. It was two years well spent on development and testing to fine tune the right features for you&hellip;</p>
	</section>
	<section>
		<h3>What does each feature mean for you?</h3>
		<figure class="fc-fig max-height">
			<img src="https://cdn.shopify.com/s/files/1/0201/2450/0032/files/Whats_Included_In_the_NeuroMD_box_1600x.png?v=1601933892" />
		</figure>
		<div id="fc-accordion">
			<details class="fc-accordion-tab" open>
				<summary><span>1.</span> Clinically studied Neuromuscular Electrical Stimulation (NMES) parameters</summary>
				<p>Promotes long-term healing and pain relief instead of the temporary relief and pain-masking provided by other products. No more ‘dealing’ with back pain.</p>
				<p>This is how you get your schedule back—it will make doing your favorite activities effortless not just today, but tomorrow and the next day too.</p>
			</details>
			<details class="fc-accordion-tab">
				<summary><span>2.</span> Wireless device</summary>
				<p>Complete your treatments anywhere, anytime. In a world where all of our other devices are wireless and rechargeable, why can’t our medical devices be too? Plus, no one will notice that you’re using your NeuroMD Corrective Therapy Device!</p>
			</details>
			<details class="fc-accordion-tab">
				<summary><span>3.</span> Rechargeable LCD screen remote</summary>
				<p>No need to worry about batteries. Plus, the LCD screen is extremely easy to read and understand (and we’ve eliminated all of the extraneous info onscreen too). So many other medical devices today make us feel like we need a doctor by our side at all times.</p>
			</details>
			<details class="fc-accordion-tab">
				<summary><span>4.</span> Treatment protocol & exercise guide</summary>
				<p>We’re not going to leave you guessing. When you receive your new NeuroMD Corrective Therapy Device®, you’ll also receive a guide that clearly explains when and how to use it with a straightforward schedule for optimum healing.</p>
			</details>
		</div>
		<p>All together these features allow you to reclaim your back health once and for all!</p>
	</section>
	<section style="--bg: #BBD4E9; --color: black;">
		<h3>Trying NeuroMD is safe, risk-free, & more affordable than ever before</h3>
		<p>Before you order we want you to be aware of some important details:</p>
		<ol>
			<li>Today NeuroMD is 50% off (normally $399.99).</li>
			<li>NeuroMD comes with a <s>14</s> <s>30</s> 60-day risk-free, at-home trial with a money-back guarantee. Why 60 days? When it comes to medical devices, we know it takes time for results to accumulate. 14 days and sometimes even 30 days isn’t enough time for you to have a fair experience with NeuroMD.</li>
			<li>NeuroMD is FSA and HSA eligible.</li>
			<li>Depending on your plan, you may be reimbursed directly from your insurance company after purchasing your device. We don’t accept direct payment from insurance companies, but we do provide a proof of purchase itemized receipt via email and will help you in the reimbursement process.</li>
			<li>Last but not least, NeuroMD is FDA cleared and registered!</li>
		</ol>
	</section>
	<section>
		<h3>But please don’t feel rushed</h3>
		<p>In today’s world there’s so much pressure to act now, buy now. But we recognize that finding the right product to treat your lower back pain is a serious decision that requires more than just a few minutes of thought. </p>
		<p>Don’t worry—we’ll still be here when you’re ready! When you return, we look forward to providing you with the most advanced solution on the market and helping you rediscover all the activities you enjoy pain-free.</p>
		<div class="fc-btn-col">
			<button data-scroll-to=".prodMain__button.buyButton" data-close-lightbox="#fc-full-story" style="--fcAccent: #0FA3FA;" class="fc-btn">Add to Cart</button>
			<button data-close-lightbox="#fc-full-story" style="--fcAccent: #0FA3FA;"  class="fc-btn">Return to Page</button>
		</div>
	</section>
</div>

{% stylesheet %}
.fc-hide {display: none;}
{% endstylesheet %}


{% javascript %}
//   let fslb = makeLightbox({
//     id: "fc-full-story"
//   });
  const fslb = document.getElementById("fc-full-story");
  fslb.addEventListener("open", (e) => {
    console.log("Open full story")
    const t = e.target;
    const id = t.id;
    /*switch (id) {
      case "sliderOpen":
        let slider = fslb.querySelector("#fc-lb-slider");
        slider.parentElement.classList.remove("fc-hide");
        // Remove the next section's inline styling
        // The next section has the top padding set to 0 so that when the slider is not
        // visible it looks like a continuous section
        slider.parentElement.nextElementSibling.setAttribute("style", "");
        new Flickity("#fc-lb-slider", { adaptiveHeight: true });
        break;
      case "lbAtc":
        const addToCartButton = document.querySelector(
          ".buyButton.prodMain__button"
        );
        $.fancybox.close();
        // Scroll so that buy button is in the middle of the screen
        window.scroll({
          //   Y position of button      - half the screen size
          top: addToCartButton.offsetTop - $(window).height() / 2,
          behavior: "smooth",
        });
        break;
      case "lbClose":
        $.fancybox.close();
        break;
    }*/
  });

  // set up accordion
  const lbAccordion = fslb.querySelector("#fc-accordion");
  const accordionTabs = lbAccordion.querySelectorAll(".fc-accordion-tab");
  lbAccordion.addEventListener("click", (e) => {
    const t = e.target;
    if (t.tagName != "SUMMARY") {
      return;
    }
    /* from here we can assume we're working with the summary elements */
    accordionTabs.forEach((tab) => {
      if (tab != t.parentElement) {
        tab.removeAttribute("open");
      }
    });
  });
{% endjavascript %}
