  
<section class="prodSection">
  <div class="img_area"> <img class="desktop" src="https://neuro-md.s3.amazonaws.com/image_Desktop.png"> <img class="mobile" src="https://neuro-md.s3.amazonaws.com/image_Mobile.png"> </div>
  <div class="icon_area">
    <div class="single_icon"> <img src="https://cdn.shopify.com/s/files/1/0201/2450/0032/files/Group_3_80x.png?v=1615319840">
      <p>FDA Cleared: Your Health <br>
        Is Our #1 Concern</p>
    </div>
    <div class="single_icon"> <img src="https://cdn.shopify.com/s/files/1/0201/2450/0032/files/1_million_icon_new_80x.png?v=1615319845">
      <p>Over 1,165,491 Treatments <br>
        Completed</p>
    </div>
    <div class="single_icon"> <img src="https://cdn.shopify.com/s/files/1/0201/2450/0032/files/Group_7_80x.png?v=1615319840">
      <p>5 Clinical Studies</p>
    </div>
    <div class="single_icon"> <img src="https://cdn.shopify.com/s/files/1/0201/2450/0032/files/Group_4_80x.png?v=1615319840">
      <p>60 Day At-Home Trial &amp; <br>
        Easy Returns</p>
    </div>
  </div>
</section>
<div class="asSeenSection ">
  <div class="container-companies">
    <div class="container-as-seen"> <img class="company-logo-small" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6399c5bd67b098ba5c39985e_chicago-tribune-logo.png">
      <div class="text-regular-italic">“My morning ritual that relieves the pain”</div>
    </div>
    <div class="container-as-seen"> <img class="company-logo-small" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6399c5bec0495c698928ee12_business-insider-logo.png">
      <div class="text-regular-italic">“Your physical therapist &amp; massage therapist in an at-home device.”</div>
    </div>
    <div class="container-as-seen"> <img class="company-logo-small" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6399c5be83700e736c159868_market-watch-logo.png">
      <div class="text-regular-italic">“Enjoyable treatments that provide lasting relief”</div>
    </div>
    <div class="container-as-seen"> <img class="company-logo-small" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6399c5bde6c4c8a31c2edc63_yahoo-logo.png">
      <div class="text-regular-italic">“The critical piece in achieving long-lasting pain relief”</div>
    </div>
  </div>
</div>


 <div class="asseen-slider"> 
        <div class="container-as-seen"> 
           <img class="company-logo-small" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6399c5bd67b098ba5c39985e_chicago-tribune-logo.png">
      <div class="text-regular-italic">“My morning ritual that relieves the pain”</div> 
        </div> 
    <div class="container-as-seen"> <img class="company-logo-small" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6399c5bec0495c698928ee12_business-insider-logo.png">
      <div class="text-regular-italic">“Your physical therapist &amp; massage therapist in an at-home device.”</div>
    </div>
    <div class="container-as-seen"> <img class="company-logo-small" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6399c5be83700e736c159868_market-watch-logo.png">
      <div class="text-regular-italic">“Enjoyable treatments that provide lasting relief”</div>
    </div>
    <div class="container-as-seen"> <img class="company-logo-small" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6399c5bde6c4c8a31c2edc63_yahoo-logo.png">
      <div class="text-regular-italic">“The critical piece in achieving long-lasting pain relief”</div>
    </div>      
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.asseen-slider').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: true,
      prevArrow: '<div class="slide-arrow prev-arrow rp"></div>',
      nextArrow: '<div class="slide-arrow next-arrow rn"></div>',
      responsive: [
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    })
  });
</script>

  
<div class="featured-icon-wrapper">
  <div class="featured-icon icon-1">
<img data-srcset="https://getneuromd.com/cdn/shop/files/better-business-bureau-accredited_2x-alt2.png?v=1622824864" alt="" class="img-fluid lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="150px" srcset="https://getneuromd.com/cdn/shop/files/better-business-bureau-accredited_2x-alt2.png?v=1622824864"> </div>
  <div class="featured-icon icon-2">
<img data-srcset="https://getneuromd.com/cdn/shop/files/Untitled_design_28_1753d4e0-4323-446b-9de0-536340ab7aad.png?v=1622825450" alt="" class="img-fluid lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="175px" srcset="https://getneuromd.com/cdn/shop/files/Untitled_design_28_1753d4e0-4323-446b-9de0-536340ab7aad.png?v=1622825450"> </div>
</div>
<div class="section_works">
  <div class="container-works-desktop-blue">
    <div class="padding-top"></div>
    <div class="m-top-xlarge justify-center">
      <div class="heading-xxlarge-blue">How Does NeuroMD Work?</div>
      <div class="text-large-grey">It stops pain at the source.</div>
    </div>
    <div class="container-works">
      <div class="container-text-works"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936f6c21e655c3b91b1d_image-works-1.png" loading="eager" width="93" data-scroll-time="0" srcset="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936f6c21e655c3b91b1d_image-works-1-p-500.png 500w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936f6c21e655c3b91b1d_image-works-1-p-800.png 800w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936f6c21e655c3b91b1d_image-works-1-p-1080.png 1080w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936f6c21e655c3b91b1d_image-works-1.png 1419w" sizes="(max-width: 767px) 100vw, 93px" alt="" class="image-works">
        <div class="padding-top"></div>
        <div class="text-regular-white">Your muscles contract and relax during a quick 25 minute session.</div>
      </div>
      <div class="line-block-large"></div>
      <div class="container-text-works"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936fa2e57b4471bf3b99_image-works-2.png" loading="eager" width="93" data-scroll-time="0" srcset="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936fa2e57b4471bf3b99_image-works-2-p-500.png 500w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936fa2e57b4471bf3b99_image-works-2-p-800.png 800w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936fa2e57b4471bf3b99_image-works-2-p-1080.png 1080w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936fa2e57b4471bf3b99_image-works-2.png 1419w" sizes="(max-width: 767px) 100vw, 93px" alt="" class="image-works">
        <div class="padding-top"></div>
        <div id="steps-section" class="text-regular-white">Sensory and motor nerves are stimulated by clinically studied Neuromuscular Electrical Stimulation (NMES)</div>
      </div>
      <div class="line-block-large"></div>
      <div class="container-text-works"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936efdf77fc51486e92d_image-works-3.png" loading="eager" width="93" data-scroll-time="0" srcset="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936efdf77fc51486e92d_image-works-3-p-500.png 500w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936efdf77fc51486e92d_image-works-3-p-800.png 800w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936efdf77fc51486e92d_image-works-3-p-1080.png 1080w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936efdf77fc51486e92d_image-works-3.png 1419w" sizes="(max-width: 767px) 100vw, 93px" alt="" class="image-works">
        <div class="padding-top"></div>
        <div class="text-regular-white">Damaged tissue heals, inflammation is reduced, and your spinal stabilizing muscles are strengthened</div>
      </div>
      <div class="line-block-large"></div>
      <div class="container-text-works"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936eda15973c265904bf_image-works-4.png" loading="eager" width="93" data-scroll-time="0" srcset="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936eda15973c265904bf_image-works-4-p-500.png 500w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936eda15973c265904bf_image-works-4-p-800.png 800w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936eda15973c265904bf_image-works-4-p-1080.png 1080w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63ac936eda15973c265904bf_image-works-4.png 1419w" sizes="(max-width: 767px) 100vw, 93px" alt="" class="image-works">
        <div class="padding-top"></div>
        <div class="text-regular-white">Pain is diminished in as little as 2-12 weeks. Maintenance mode will continue to provide relief.</div>
      </div>
    </div>
  </div>
</div>
<div class="section_steps">
  <div class="container-text-product">
    <div class="padding-top"></div>
    <div class="m-top-xlarge justify-center">
      <div class="heading-xxxlarge-blue text-align-center">Stop Masking The Pain With Creams, Pills, Heating Pads and TENS Units – Start Experiencing Lasting Relief.</div>
      <div class="padding-top"></div>
      <div class="text-regular-grey text-align-center">A NeuroMD device works to correct your back pain through a 12 week consistency program<br>
        and continues to provide relief through maintained use.</div>
    </div>
    <div class="container-treatments">
      <div class="container-weeks-treatment"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1dfab997a02036f757bd_week-1-image.png" loading="eager" data-scroll-time="0" sizes="(max-width: 479px) 100vw, (max-width: 750px) 92vw, (max-width: 767px) 690px, (max-width: 991px) 32vw, 29vw" srcset="https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1dfab997a02036f757bd_week-1-image-p-500.png 500w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1dfab997a02036f757bd_week-1-image.png 690w" alt="" class="treatments-image">
        <div class="container-weeks">
          <ul role="list" class="list-pain">
            <li class="text-regular c-dark-electric-blue">Start on Mode 1.</li>
            <li class="text-regular c-dark-electric-blue">Use NeuroMD for 4-7 days this week.</li>
            <li class="text-regular c-dark-electric-blue">Each session lasts 25 minutes.</li>
          </ul>
        </div>
      </div>
      <div class="container-weeks-treatment"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1df9fe0fbe74644d410a_week-12-image.png" loading="eager" width="320" data-scroll-time="0" srcset="https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1df9fe0fbe74644d410a_week-12-image-p-500.png 500w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1df9fe0fbe74644d410a_week-12-image.png 690w" sizes="(max-width: 479px) 100vw, (max-width: 750px) 92vw, (max-width: 767px) 690px, (max-width: 991px) 32vw, 29vw" alt="" class="treatments-image">
        <div class="container-weeks">
          <ul role="list" class="list-pain">
            <li class="text-regular c-dark-electric-blue">Begin Mode 2.</li>
            <li class="text-regular c-dark-electric-blue">Use NeuroMD for 6-7 days per week.</li>
            <li class="text-regular c-dark-electric-blue">Each session lasts 25 minutes.</li>
          </ul>
        </div>
      </div>
      <div class="container-weeks-treatment"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1dfa11e3052485d88c72_week-13-image.png" loading="eager" width="320" data-scroll-time="0" srcset="https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1dfa11e3052485d88c72_week-13-image-p-500.png 500w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/639a1dfa11e3052485d88c72_week-13-image.png 690w" sizes="(max-width: 479px) 100vw, (max-width: 750px) 92vw, (max-width: 767px) 690px, (max-width: 991px) 32vw, 29vw" alt="" class="treatments-image">
        <div class="container-weeks">
          <ul role="list" class="list-pain">
            <li class="text-regular c-dark-electric-blue">Maintain on Mode 2.</li>
            <li class="text-regular c-dark-electric-blue">Use NeuroMD for 2-4 days per week.</li>
            <li class="text-regular c-dark-electric-blue">Each session lasts 25 minutes.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="padding-top-large"></div>
  </div>
</div>
<div class="section_lasting-relief position-relative">
  <div class="container-lasting-relief-hero position-relative"> <img class="hero-image position-relative" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63c6a6b272f4f46b4ebe154e_lasting-relief-image_min.jpg" width="2852" height="700" alt="" data-scroll-time="0" sizes="100vw" loading="eager" srcset="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63c6a6b272f4f46b4ebe154e_lasting-relief-image_min-p-500.jpg 500w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63c6a6b272f4f46b4ebe154e_lasting-relief-image_min-p-800.jpg 800w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63c6a6b272f4f46b4ebe154e_lasting-relief-image_min-p-1080.jpg 1080w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63c6a6b272f4f46b4ebe154e_lasting-relief-image_min-p-1600.jpg 1600w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63c6a6b272f4f46b4ebe154e_lasting-relief-image_min-p-2000.jpg 2000w, https://uploads-ssl.webflow.com/638f8d382e49780585389936/63c6a6b272f4f46b4ebe154e_lasting-relief-image_min.jpg 2880w"> </div>
  <div class="container-lasting-relief-text position-absolute">
    <div class="padding-top"></div>
    <div class="m-top-xlarge">
      <div class="heading-xxxlarge-blue">Lasting relief that puts an end to surgical procedures, shots, braces, and medications.</div>
      <div class="text-regular-grey">Proven by NeuroMD users.</div>
    </div>
    <div class="container-procedures">
      <ul role="list" class="list-procedures">
        <li class="text-regular c-dark-electric-blue">Quick 25 Minute Relief Sessions</li>
        <li class="text-regular c-dark-electric-blue">Targets the source of pain without masking</li>
        <li class="text-regular c-dark-electric-blue">Improved flexibility and muscle movement</li>
        <li class="text-regular c-dark-electric-blue">Strengthens spinal stabilizing muscles</li>
        <li class="text-regular c-dark-electric-blue">Improved day-to-day life</li>
        <li class="text-regular c-dark-electric-blue">Maintains relief long-term</li>
      </ul>
    </div>
  </div>
</div>
<div class="neuroCom">
  <div class="heading-xxxlarge-blue text-align-center">NeuroMD vs TENS: Stop Pain at the Source</div>
  <table>
    <tr>
      <th></th>
      <th>NeuroMD 
        (NMES)</th>
      <th>TENS</th>
    </tr>
    <tr>
      <td>Lasting pain relief</td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_tick.svg"></td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_cross.svg"></td>
    </tr>
    <tr>
      <td>Easy to use, wireless, and fully rechargeable.</td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_tick.svg"></td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_cross.svg"></td>
    </tr>
    <tr>
      <td>Strengthens muscles &amp; improves range of motion.</td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_tick.svg"></td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_cross.svg"></td>
    </tr>
    <tr>
      <td>Stops muscle spasms</td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_tick.svg"></td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_cross.svg"></td>
    </tr>
    <tr>
      <td>Prevents muscle atrophy</td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_tick.svg"></td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_cross.svg"></td>
    </tr>
    <tr>
      <td>Targets motor nerves <span>Improves musculoskeletal health for lasting relief</span>
</td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_tick.svg"></td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_cross.svg"></td>
    </tr>
    <tr>
      <td>Targets sensory nerves <span>Only temporarily masks pain</span>
</td>
      <td class="icon-wrong"><svg width="38" height="37" viewbox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.137 3.74037C10.8536 3.66472 4.07627 10.3194 4.00062 18.6028C3.92498 26.8861 10.5797 33.6635 18.863 33.7391C27.1464 33.8148 33.9237 27.16 33.9994 18.8767C34.075 10.5934 27.4203 3.81601 19.137 3.74037ZM26.8311 14.36L22.1543 18.9583L26.6918 23.5826L26.6887 23.5857C27.086 23.9964 27.3289 24.5558 27.3233 25.1711C27.3119 26.4139 26.2956 27.4088 25.0559 27.3974C24.3947 27.3914 23.8065 27.1013 23.3974 26.6445L18.9478 22.1098L14.4161 26.5656C14.0018 27.0149 13.4053 27.2941 12.7441 27.2881C11.5013 27.2767 10.5065 26.2605 10.5178 25.0207C10.5234 24.4054 10.7765 23.8506 11.1812 23.4471L11.1781 23.444L15.7994 18.9034L11.2042 14.2173C10.8222 13.8098 10.5915 13.2627 10.597 12.6597C10.6084 11.4169 11.6246 10.422 12.8644 10.4334C13.4674 10.4389 14.0132 10.6826 14.4106 11.072L14.441 11.1029C14.444 11.106 14.447 11.1091 14.447 11.1091L18.9998 15.7488L23.6365 11.193C23.6395 11.19 23.6395 11.19 23.6426 11.1869L23.6735 11.1566C24.0811 10.7746 24.6312 10.5408 25.2312 10.5463C26.474 10.5576 27.4688 11.5739 27.4575 12.8137C27.4612 13.4168 27.2205 13.9595 26.8311 14.36Z" fill="#0BA3FA"></path>
        </svg></td>
      <td class="icon-right"><svg width="31" height="31" viewbox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.7733 0.740487C7.50297 0.664964 0.712477 7.33256 0.636954 15.6029C0.561431 23.8732 7.22903 30.6637 15.4994 30.7392C23.7697 30.8148 30.5602 24.1472 30.6357 15.8768C30.7112 7.6065 24.0436 0.816011 15.7733 0.740487ZM24.0555 11.8692L14.3826 21.2926C13.8135 21.8513 12.911 21.8806 12.3146 21.3113L7.28189 16.6411C6.68556 16.0717 6.65655 15.1315 7.18833 14.5349C7.75771 13.9385 8.69787 13.9095 9.2942 14.4789L13.2829 18.1997L21.9323 9.70688C22.5393 9.11089 23.4791 9.11947 24.0751 9.72644C24.671 10.3334 24.6625 11.2732 24.0555 11.8692Z" fill="#D96868"></path>
        </svg></td>
    </tr>
    <tr>
      <td>Utilized by doctors in post operative recovery &amp; in the most severe chronic conditions</td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_tick.svg"></td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_cross.svg"></td>
    </tr>
    <tr>
      <td>Clinically validated stimulation parameters</td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_tick.svg"></td>
      <td><img class="tc_img" src="https://neuro-md.s3.amazonaws.com/neuromd_cross.svg"></td>
    </tr>
  </table>
</div>
<div class="reviewSection">
  <div class="reviewContainer">
    <div class="reviews">
      <div class="single_review">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gdYnFstvrxs?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="review_content">
          <h2>Ryan</h2>
          <p class="text-large">Highly Recommend</p>
          <p class="text-regular text-align-center">Early in January, I developed lower back pain, sciatica pain that made it really hard to move. I used to be a big runner and I wasn’t even able to run anymore. I tried chiropractors, tens units, and ibuprofen, but nothing seemed to work for me. I saw NeuroMD and thought I may as well give it a try. And it actually worked really, really well for me. No, I”m very active, I go to the gym every day, and most importantly, waking up and I’m actually able to move. So, so far so good! I’ve had it for about 6 weeks and it seems to be getting better ad better every time I try it. So, I highly recommend NeuroMD.</p>
          <img class="stars" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/639b48d7c0f96fc04409519a_full-stars.png">
          <div class="container-fsa"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63a0bc80006790c2e0b591ac_check-icon.png" loading="lazy" width="25" alt="" class="guarantee-icon">
            <div class="text-regular-grey weight-medium">Verified Review</div>
          </div>
        </div>
      </div>
      <div class="single_review">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CtGaRLawodA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="review_content">
          <h2>Bob &amp; Mary</h2>
          <p>Fantastic Relief!!</p>
          <p>I purchased the NeuroMD device for my husband's birthday. He has 3 herniated discs, 3 surgeries, spinal stenosis, arthritis, and osteoarthritis, and has tried everything to relieve his pain. Bob has been using the device for 3.5 weeks and has experienced awesome results. Now he doesn’t toss and turn at night anymore. It’s been fantastic! Thank you NeuroMD!</p>
          <img class="stars" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/6398caf171bef34738b72760_stars.png">
          <div class="container-fsa"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63a0bc80006790c2e0b591ac_check-icon.png" loading="lazy" width="25" alt="" class="guarantee-icon">
            <div class="text-regular-grey weight-medium">Verified Review</div>
          </div>
        </div>
      </div>
      <div class="single_review">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HwJjGx4HxsA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="review_content">
          <h2>Nancy</h2>
          <p>No More Epidurals for Me :)</p>
          <p>I purchased this device 5 weeks ago. I was diagnosed with spinal stenosis and have been having issues with my back for over 10 years. In 3 weeks, I was out of pain. I’m standing up straight, able to move and walk longer than 5 minutes. I will never have another epidural for my spinal stenosis. Thank you NeuroMD, you have changed my life forever!</p>
          <img class="stars" src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/639b48d7c0f96fc04409519a_full-stars.png">
          <div class="container-fsa"> <img src="https://uploads-ssl.webflow.com/638f8d382e49780585389936/63a0bc80006790c2e0b591ac_check-icon.png" loading="lazy" width="25" alt="" class="guarantee-icon">
            <div class="text-regular-grey weight-medium">Verified Review</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="kitSection">
  <div class="prodInc__title text--blue text--28 text--com">See What’s Included in Your<br>
    All-Inclusive Treatment Kit</div>
  <div class="img_area"> <img src="https://neuro-md.s3.amazonaws.com/kit_Desktop.jpg"> </div>
  <div class="content_area">
    <div class="single_kit_adv"> <span class="number">1</span> <span class="des">Pre-programmed device with clinically studied parameters</span> </div>
    <div class="single_kit_adv"> <span class="number">2</span> <span class="des">Rechargeable LCD screen remote</span> </div>
    <div class="single_kit_adv"> <span class="number">3</span> <span class="des">2x long lasting electrode pads (2+ month supply) Each additional pad costs $16 or only $0.54 cents per treatment.</span> </div>
    <div class="single_kit_adv"> <span class="number">4</span> <span class="des">Dual ended charging cable for device and remote</span> </div>
    <div class="single_kit_adv"> <span class="number">5</span> <span class="des">Treatment protocol &amp; exercise guide</span> </div>
    <div class="single_kit_adv"> <span class="number">6</span> <span class="des">Ziplock storage pouch</span> </div>
  </div>
</div>



<style>

  .prodTabs, #shopify-section-prod-iconBar-dup, #shopify-section-featured-news-dup, #shopify-section-prod-SBS-dup, #shopify-section-prod-diagram-dup, #shopify-section-comparison-chart-dup, #shopify-section-prod-included-dup, #shopify-section-prod-video-reviews-dup {
display: none;
} 
      .main-acc-wrapper {
        margin-bottom: 50px;
      }
      .prodMain__checkGrid {
          margin-top: 15px !important;
      }
      .prodMain__priceRow {
          justify-content: flex-start !important;
      }
      .prodMain {
          padding-bottom: 30px !important;
      }
section.prodSection {
            background-color: #F5F5F5;
            display: flex;
        }
        section.prodSection > * {
            flex: none;
            width: 50%;
        }

        .prodSection .icon_area {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }
        
        .prodSection .icon_area .single_icon {
            width: 50%;
            flex: none;
            text-align: center;
            margin: 15px 15px;
            margin-bottom: 70px;
            max-width: calc(50% - 30px);
        }

        .prodSection .icon_area .single_icon img {
            width: 40px;
            margin-bottom: 10px;
        }
        .container-works {
            height: 21rem;
            background-color: #568ada;
            justify-content: space-between;
            align-items: center;
            margin: 1rem auto;
            padding: 1rem 5rem;
            display: flex;
        }
        .container-text-works {
            width: 15rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: block;
        }

        .line-block-large {
            height: 10rem;
            border-right: 1px solid #fff;
            margin-left: 2rem;
            margin-right: 2rem;
        }

        .container-works .container-text-works img {
            width: 95px;
        }
.container-companies {
    width: 100%;
    max-width: 90rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.container-as-seen {
    width: 17rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
    display: flex;
}

.company-logo-small {
    width: 10.5rem;
    margin-bottom: 1rem;
    display: block;
}
.text-regular-italic {
    color: #646e78;
    text-align: center;
    font-family: Poppins,sans-serif;
    font-style: italic;
    font-weight: 400;
}
.featured-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
.featured-icon-wrapper {
    margin-top: 20px;
    margin-bottom: 3rem;
}
.featured-icon {
    margin: 0 20px;
}
.featured-icon.icon-1 img {
    max-width: 150px;
}
.featured-icon.icon-2 img {
    max-width: 175px;
}
.heading-xxlarge-blue {
	color: #4b4566;
	font-family: Poppins,sans-serif;
	font-size: 2rem;
	font-weight: 700;
}

.text-large-grey {
	color: #646e78;
	text-align: left;
	font-family: Poppins,sans-serif;
	font-size: 1.125rem;
	line-height: 1.7;
}
.justify-center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}
.m-top-xlarge {
	flex-direction: column;
	margin: 1rem 4rem;
}
.text-regular-white {
	color: #fff;
	font-family: Poppins,sans-serif;
}
.padding-top {
	padding-top: 1rem;
	display: block;
}
.container-treatments {
	justify-content: center;
	margin: 1rem 4rem;
	display: flex;
}
.container-weeks-treatment {
	margin: 1.5rem;
	display: block;
}
.container-weeks {
	width: auto;
	height: auto;
	background-color: #fff;
	padding: 0.25rem 1rem 1rem;
	box-shadow: 0 1px 20px -12px #a9a9a9;
}
.c-dark-electric-blue {
	color: #646e78;
}
.heading-xxxlarge-blue {
	color: #4b4566;
	font-family: Poppins,sans-serif;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.3;
	position: static;
}
.text-regular-grey.text-align-center {
	text-align: center;
}
.text-regular-grey {
	color: #646e78;
	text-align: left;
	font-family: Poppins,sans-serif;
	font-size: 1rem;
}
.treatments-image, .body-parts-image{
	display: inline-block;
}
.section_steps ul{
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 1.25rem;
	list-style: disc;
}
.section_lasting-relief.position-relative {
	overflow: hidden;
}
.position-relative {
	position: relative;
}
.section_lasting-relief {
	position: relative;
}
.container-lasting-relief-hero {
	object-fit: contain;
	display: block;
	position: relative;
}
.hero-image.position-relative {
	height: auto;
}
.position-absolute {
	position: absolute;
}
.container-lasting-relief-text {
	width: 50%;
	position: absolute;
	top: 0;
}
.container-lasting-relief-text.position-absolute {
	width: 40rem;
	top: 0;
	bottom: auto;
}
.container-procedures {
	margin: 1rem 4rem;
}
.list-procedures {
	margin-top: 0;
}
.reviewContainer {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
}

.single_review iframe {
	max-width: 100%;
	display: block;
}
.container-fsa {
	display: flex;
	justify-content: center;
	align-items: center;
}
.reviewSection {
	position: relative;
	padding-bottom: 60px;
	margin-top: 30px;
}
.reviewSection:before {
	content: "";
	width: 100%;
	height: 25rem;
	background-color: #568ada;
	position: absolute;
	top: 4px;
	left: 0%;
	z-index: -1;
	right: auto;
}
.container-fsa img {
	width: 25px;
	margin-right: 10px;

}
.reviews img.stars {
	width: 110px;
}
.single_review {
	background: #fff;
}

.review_content h2 {
	color: #565656;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
}
.text-large {
	font-family: Poppins,sans-serif;
	font-size: 1.25rem;
}
.text-align-center {
	text-align: center;
	font-family: Poppins,sans-serif;
}
.review_content {
	text-align: center;
	padding: 5px 16px;
	box-shadow: 0 1px 20px -12px #353535;
	padding-bottom: 20px;
}
.reviews img.stars {
	width: 110px;
	margin-top: 20px;
	margin-bottom: 3px;
}
.container-companies {
	width: 100%;
	max-width: 90rem;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.container-as-seen {
	width: 17rem;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 1rem 2rem;
	display: flex;
}
.company-logo {
	width: 12rem;
	margin-bottom: 1rem;
}
.company-logo-small {
	width: 10.5rem;
	margin-bottom: 1rem;
	display: block;
}
.text-regular-italic {
	color: #646e78;
	text-align: center;
	font-family: Poppins,sans-serif;
	font-style: italic;
	font-weight: 400;
}
.neuroCom table {
	width: 800px;
	margin: 0 auto;
	border-collapse: separate;
	max-width: 100%;
}
.neuroCom img.tc_img {
	width: 30px;
}

.neuroCom tr td:nth-child(2), .neuroCom tr th:nth-child(2) {
	background: #E7F5FF;
	border-left: 3px solid #0BA3FA;
	border-right: 3px solid #0BA3FA;          
}

.neuroCom tr th:nth-child(2){
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 3px solid #0BA3FA;
}

.neuroCom tr:last-child td:nth-child(2){
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 3px solid #0BA3FA;
	border-left: 3px solid #0BA3FA;
	border-right: 3px solid #0BA3FA;          
}

.neuroCom tr td:nth-child(2), .neuroCom tr th:nth-child(2), .neuroCom tr td:nth-child(3), .neuroCom tr th:nth-child(3) {
	width: 130px;
	text-align: center;
}
.neuroCom {
	padding: 60px 25px;
}
.neuroCom tr {
	border-bottom: 1px solid #cbcbcb7a;
}
.neuroCom tr:last-child{
	border-bottom: 0;
}

.neuroCom .heading-xxxlarge-blue{
	margin-bottom: 40px;
}
.neuroCom td, .neuroCom th {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	color: #646E78;
	padding: 26px 14px;
  border-bottom: 1px solid #838383;
}
  .neuroCom td span{
    display: block;
    font-weight: normal;
    margin-top: 10px;     
  }
 .img_area img{display: block; mix-blend-mode: multiply;}
 .kitSection .prodInc__title{
      text-align: left;
    margin: 0 0 -100px 20px;
    color:#4B4566;
    font-weight:bold;
  }
.kitSection .content_area {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 44.06%, rgba(255, 255, 255, 0.7) 100%), linear-gradient(90deg, #CEDDED 0%, #CDDDEB 53.31%, #CADCEB 100%);
	display: flex;
	flex-wrap: wrap;
	padding: 46px 50px;
}
.single_kit_adv {
	flex: none;
	width: 33%;
	margin-bottom: 50px;
	display: flex;
	align-items: flex-start;
	padding: 0 20px;
}
.single_kit_adv span.number {
	background: #0BA3FA;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #fff;
	flex: none;
	font-weight: 700;
  font-size: 18px;

}
.single_kit_adv span.des {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	display: flex;
	align-items: center;
	color: #4B4566;
	margin-left: 30px;
}
.prod-faq-wrapper{
	box-shadow: none !important;
	max-width: inherit !important;
}
.prod-faq-wrapper .heading{
	color: #4b4566 !important;
	font-family: Poppins,sans-serif !important;
	font-size: 2.25rem !important;
	font-weight: 700 !important;
	line-height: 1.3 !important;
	position: static !important;
}
.prod-faq-wrapper.faq-dup {
	box-shadow: none !important;
	max-width: initial !important;
	padding-bottom: 50px !important;
}

div#page-section-prod-proof-dup .container.inner {
	max-width: inherit;
	width: 100%;
}
.prodSection .icon_area .single_icon p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	color: #3A3A3C;
	max-width: 240px;
	margin: 0 auto;
}

div#shopify-section-prod-faq {
	padding: 0;
}

.section_lasting-relief .list-procedures{
	list-style: disc;
	margin-left: 18px;
}

.section_steps .treatments-image{
	display: block;
}

 

.featured-icon-wrapper {
	margin-top: 20px;
	margin-bottom:3rem;
}
.asSeenSection{
	display:block;
}
.asseen-slider{
	display:none;
}
@media only screen and (min-width: 980px) {
	.reviews {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.single_review {
		width: calc(33% - 50px);
		margin: 0 25px;
		flex: none;
	}
	img.desktop{
		display: block;
	}
	img.mobile{
		display: none;
	}
}
@media only screen and (max-width: 1100px) {
	.prodSection .icon_area .single_icon p{
		font-size: 16px;
	}
	.section_lasting-relief .heading-xxxlarge-blue{
		font-size: 28px;
		padding-right: 100px;
	}
	.featured-icon-wrapper{
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 980px) {
  .kitSection .prodInc__title{
	  margin: 0;
background-color: #CFDFEE;
padding: 10px;
		max-width: 408px;
  }
  .neuroCom table {
	width: 100%;
  }
	img.desktop{
		display: none;
	}
	img.mobile{
		display: block;
	}
	.container-as-seen{
		margin: 0;
		text-align: center;
		display: flex !important;
		flex-direction: column-reverse;
	}
	.asSeenSection{
		margin: 0 auto;
		padding: 0 50px;
	}
	section.prodSection{
		flex-direction: column;
	}
	section.prodSection > * {
		width: 100%;
	}
	.heading-xxlarge-blue{
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
	}
	.m-top-xlarge{
		text-align: center;
		width: 100%;
		margin: 0 0;
	}
	.company-logo-small{
		display: inline-block !important;
	}
	.container-works{
		padding: 50px 0;
		flex-direction: column;
		height: auto;
		padding-top: 20px;
	}

	.container-works .line-block-large{
		display: none;
	}
	.container-text-works {
		margin-bottom: 30px;
	}
	.container-text-works:last-child {
		margin-bottom: 0px;
	}
	.section_works {
		background-color: #568ada;
		padding-top: 20px;
	
	}
	.section_works .heading-xxlarge-blue, .section_works .text-large-grey{
		color: #fff !important;
	}
	.container-treatments{
		margin: 1rem 1rem;
		flex-direction: column;
	}
	.container-weeks-treatment{
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}
	.container-lasting-relief-hero > img{
		display: none;
	}
	.kitSection .content_area{
		padding-left: 20px;
		padding-right: 20px;
	}
	.single_kit_adv{
		width: 100%;
		padding: 0;
	}
	section.prodSection{
		flex-direction: column-reverse;
	}
	.prodSection .icon_area .single_icon{
		margin: 0;
		padding: 0 25px;
	}
	.prodSection .icon_area .single_icon:nth-child(1),
	.prodSection .icon_area .single_icon:nth-child(2){
		margin-bottom: 35px;
	}
	.prodSection .icon_area{
		padding: 30px 0;
	}
	.prodSection .icon_area .single_icon p {
		font-weight: 600;
		font-size: 14px;
		line-height: 140%;
	} 
	.prodSection .icon_area .single_icon br{
		display: none;
	}

	.asSeenSection .slick-track{
		display: flex;
		align-items: center;
	}
	.asSeenSection .text-regular-italic{
		line-height: 140%;
		margin-bottom: 18px;
	}
	.single_kit_adv span.des{
		font-size: 16px;
		margin-left: 17px;
	}
	.single_kit_adv span.number{
		width: 35px;
		height: 35px;
	}
	.reviews img.stars{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.reviewContainer{
		padding: 0 20px;
	}
	.single_review{
		background: transparent;
		padding: 20px;
	}
	.review_content{
		background: #fff;
	}

	.reviewSection .slick-next{
		top: 368px;
		right: 42px;
	}

	.reviewSection .slick-prev{
		top: 368px;
		left: 42px;
	}
	.review_content h2{
		font-size: 2rem;
		margin-bottom: 10px;
	}
	.review_content p{
		line-height: 2;
	}
	.reviewSection .slick-prev:before,
	.reviewSection .slick-next:before{
		content: "";
		width: 20px;
		height: 20px;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url(https://cdn.shopify.com/s/files/1/0441/3567/8105/files/rightArrow.png?v=1595877987);
		opacity: 1;
	}
	.reviewSection .slick-prev.slick-disabled:before,
	.reviewSection .slick-next.slick-disabled:before{
		opacity: .45;
	}
	.reviewSection .slick-prev:before{
		transform: rotate(180deg);
	}
	.section_lasting-relief .container-lasting-relief-text.position-absolute{
		position: static;
		width: 100%;
	}
	.section_lasting-relief .heading-xxxlarge-blue{
		font-size: 1.5rem;
		padding: 0;
		text-align: left;
	}
	.section_lasting-relief.position-relative{
		padding: 15px;
		background: #FBFBFB;
	}
	.section_steps .heading-xxxlarge-blue{
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		text-align: left;
	}
	.section_steps {
		padding: 0 15px;
	}
	.section_steps .text-regular-grey.text-align-center {
		text-align: left;
	}
	.container-procedures{
		margin-left: 25px;
	}


	.asSeenSection .slick-prev:before,
	.asSeenSection .slick-next:before{
		content: "";
		width: 20px;
		height: 20px;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url(https://cdn.shopify.com/s/files/1/0441/3567/8105/files/rightArrow.png?v=1595877987);
		opacity: 1;
	}
	.asSeenSection .slick-prev.slick-disabled:before,
	.asSeenSection .slick-next.slick-disabled:before{
		opacity: .45;
	}
	.asSeenSection .slick-prev:before{
		transform: rotate(180deg);
	}
}

@media screen and (min-width: 100px) and (max-width: 640px){ 
  
  .asSeenSection{
	display:none;
}
.asseen-slider{
	display:block;
}
.neuroCom td, .neuroCom th { 
    font-size: 14px; 
    padding: 15px 5px; 
}
.neuroCom img.tc_img {
    width: 20px;
}
td.icon-wrong svg {
    width: 27px;
}
td.icon-right svg {
    width: 20px;
}
.slide-arrow{
	background: url("{{ 'arrow.png' | asset_img_url : 'master' }}") no-repeat;
}
.img-has-after:after{
	background: url("{{ 'quote-white.png' | asset_img_url : 'master' }}") no-repeat;
}
.container-as-seen { 
    padding: 30px;
}
.text-regular-italic { 
    margin-bottom: 20px;
}
.rp.slick-arrow {
    left: 10px;
}
.rn.slick-arrow {
    right: 10px;
}
}  
</style>
  
{% schema %}
  {
    "name": "section1",
	"class": "prod-video-reviews",
	"max_blocks" : 20,
    "settings": [ 
        {
    		"type": "header",
            "content": "Heading"
		},
          {
            "type" : "image_picker",
            "id" : "logo1",
            "label" : "News Logo"
          },
          {
            "type" : "image_picker",
            "id" : "logo2",
            "label" : "News Logo"
          }
    ],
    "blocks": [
      {
        "type" : "text",
    	"name" : "Block",
        "settings":[ 
          {
            "type" : "text",
            "id" : "newstitle",
            "label" : "News quotes"
          },
          {
            "type" : "image_picker",
            "id" : "newsimage",
            "label" : "News Logo"
          }
        ]
      }
    ]
  }
{% endschema %}